<app-navbar></app-navbar>
<div class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
      
        <nav class="nav nav-masthead justify-content-center float-md-end">
         
        </nav>
      </div>
    </header>
  
    <main class="px-3">
      <h1>About page.</h1>
      <p class="lead"></p>
      <p class="lead">
        <a href="/dashboard" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main>
  
    <footer class="mt-auto text-white-50">
    </footer>
  </div>
  
    </div>