
<div class="height">
⁡⁣⁣⁢    <!-- <div [class]="bg"> -->⁡

    
    <div class="container">
        
        <div class="row ">
    <div class="col col-sm-1 col-md-1 col-lg-3"></div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-6">
        <div class="card shadow"  >
            <div class="card-body" >
            <div class="container">
             
                <h2 class="mt-2">Let's sign you in <span class="dot text-warning">.</span></h2>
                <h4>Welcome Back</h4>
              
               <form action="" [formGroup]="formGroup">

                   <input class="input mt-5 "  formControlName="email" type="text" name="email" id="login_email" placeholder="email address"> 
                   <p [ngStyle]="{color:'red'}" *ngIf=" f.email.errors?.['pattern'] && f.email?.touched"> enter valid email</p>
                   <br>
                   <input class="input mt-2" formControlName="pswd"  type="password" name="password" id="login_pswd" placeholder="Password">
                   <p [ngStyle]="{color:'red'}" *ngIf=" f.pswd.errors?.['required'] && f.pswd?.touched"> this field must not be empty</p>

                </form>
                   <!--                
                <input class="input mt-5 "  #acno type="text" name="acno" id="login_acno" [placeholder]="account">  <br>
   <input class="input mt-2" #pswd type="password" name="password" id="login_pswd" placeholder="Password"> -->
                 <br>
                <!-- <input class="input mt-5 "  (change)="acnoChange($event)" type="text" name="acno" id="login_acno" [placeholder]="account">  <br>
   <input (change)="pswdChange($event)" class="input mt-2" type="password" name="password" id="login_pswd" placeholder="Password">
                 <br> -->
                <div class="d-flex justify-content-center align-items-center"></div>
                    
                    <div class="d-flex justify-content-center align-items-center">
                    <!-- <button class="btn btn-warning mt-3 mb-4 shadow" type="button" (click)="login(acno,pswd)">Login</button></div> -->
                    <button class="btn btn-warning mt-3 mb-4 shadow" type="button" (click)="login()">Login</button></div>
                </div>
            </div>
    </div>
    
    
</div>
<div class="col col-sm-1 col-md-1 col-lg-3"></div></div>
</div>

</div>